*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: auto;
    height: 950px;
    width: 1066px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

body{
    background-color: #f9f9f9;
}

.name{
    padding-top: 50px;
    padding-left: 50px;
}

.menu{
    background: #4f4f4f;
    margin-top: 40px;
    margin-left: 50px;
    width: 965px;
    height: 40px;
    float: left;
    font-family: "Myriad Pro";
    font-size: 15px;
    text-shadow: 1px 1px #3d3d3d;

}

.menu li{
    display: inline;
}

.menu li a{
    float: left;
    color: #ebebeb;
    padding: 11px 40px;
    text-decoration: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu li a:hover{
    background: #363636;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

.content ul{
    border: 1px solid #c8c8c8;
    margin-top: 130px;
    margin-left: 50px;
    width: 240px;
    font-family: "Myriad Pro";
    font-size: 14px;
    color:  #2c2c2c;
    list-style-type: none;
}

.content ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.content ul li a{
    display: block;
    text-decoration: none;
    color: #656363;
    padding-left: 25px;

}

.content ul li:hover{
    color: #2c2c2c;
    background: #f9f9f9;
    padding-left: 10px;
}

.line{
    border-bottom: 1px solid #c8c8c8;
}

.content img{
    margin-left: 338px;
    margin-top: -235px;
}

.content p{
    margin-left: 340px;
    margin-top: 40px;
    margin-right: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Myriad Pro;
    font-size: 14px;
    color: #2c2c2c;
    line-height: 1.5;
}

.footer{
    margin-top: 60px;
    margin-left: 50px;
    width: 965px;
    float: left;
    font-family: "Myriad Pro";
    font-size: 15px;
    background: #e1e1e1;
}

.footer li{
    display: inline;
}

.footer li a{
    float: left;
    color: #2c2c2c;
    padding: 11px 40px;
    text-decoration: none;
}

.footer li a:hover{
    text-decoration: underline;
}

.copy{
    color: #2c2c2c;
    font-family: "Myriad Pro";
    font-size: 15px;
    padding: 11px 40px;
    float: right;
}
