.wrapper{
	width: 1024px;
	height: 1024px;
	margin: 0 auto;
}

body{
	background-color: #F3F3F3;
}

img{
	border: 1px solid gray;
}

.name{
	text-transform: uppercase;
	font-weight: bolder;
	font-family: arial;
	font-size: 150%;
	text-align: center;
}

.about{
	color: gray;
	font-size: 75%;
	font-family: arial;
	margin-left: 300px;
	margin-right: 300px;
	border-bottom:  1px solid darkgray;
}

ul{
	font-family: arial;
	font-size: 75%;
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
}

.line{
	border-bottom:  1px solid gainsboro;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 15px;
}

.title-info{
	font-size: 85%;
	font-weight: bolder;
	font-family: arial;
	margin-left: 300px;
	margin-right: 300px;
}

.info{
	font-size: 75%;
	font-family: arial;
	margin-left: 340px;
	margin-right: 300px;
}

a{
	font-style: italic;
}